*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div img{
	width: 10rem;
}

.cart{
	position: relative;	
}
.hero-text{
	padding:1rem 2rem;
}
.hero-div h2{
text-align: center;
}

.shopping span{
position: absolute;
}

.quantity{
	margin-left: -7.5vw;
	margin-top: -2.5vh;
	font-size: 2vw;
}

.cart{
text-align: center;
}

button:hover{
cursor: pointer;
}