*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.but-kurv {
    font-size: 1.5em; 
    margin-top: 20px;
    padding: 10px 20px; 
    border: 2px solid #2c3583; 
    display: inline-block; 
}

/* styling af dine oplysninger */
.dine-oplysninger {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 20px; 
}

.dine-oplysninger label,
.dine-oplysninger input[type="text"] {
    width: 100%;
}

.dine-oplysninger .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px; 
}

.dine-oplysninger input[type="text"] {
    flex: 900px; 
    padding: 30px; 
    border: 2px solid #2c3583;
    border-radius: 4px;
    box-sizing: border-box;
}

/* styling af gem oplysninger */
.gem-chek-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px; 
    justify-content: space-between; 
}

.gem-chek {
    border: 2px solid #2c3583; 
    padding: 10px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.gem-chek .Gem-knap {
    margin: 0; 
}

.gem-chek-wrapper input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    accent-color: #2c3583; 
    margin-left: 20px; 
}