*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.but-kurv {
    font-size: 1.5em; 
    margin-top: 20px;
    padding: 10px 20px; 
    border: 2px solid #2c3583; 
    display: inline-block; 
}

/* styling af dine oplysninger */
.dine-oplysninger {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 20px; 
}

.dine-oplysninger label,
.dine-oplysninger input[type="text"] {
    width: 100%;
}

.dine-oplysninger .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px; 
}

.dine-oplysninger input[type="text"] {
    flex: 900px; 
    padding: 30px; 
    border: 2px solid #2c3583;
    border-radius: 4px;
    box-sizing: border-box;
}

/* styling af gem oplysninger */
.gem-chek-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px; 
    justify-content: space-between; 
}

.gem-chek {
    border: 2px solid #2c3583; 
    padding: 10px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.gem-chek .Gem-knap {
    margin: 0; 
}

.gem-chek-wrapper input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    accent-color: #2c3583; 
    margin-left: 20px; 
}

/* Styling af leveringsmuligheder */
.levering {
    margin-top: 30px; /* Tilføjer lidt afstand til toppen */
}

.levering-muglighed{
    height: 20px; 
}

.levering-options {
    display: flex;
    justify-content: space-between; /* Placerer sektionerne ved siden af hinanden */
    gap: 30px; /* Tilføjer mellemrum mellem sektionerne */
}

.hejm-chek, .afhentning-chek {
    border: 2px solid #2c3583; /* Indrammer sektionerne med farven #2c3583 */
    padding: 10px; /* Tilføjer indvendig polstring */
    display: flex;
    align-items: center; /* Centrerer indholdet lodret */
    position: relative; /* Gør det muligt at placere afkrydsningsfeltet absolut */
}

.hejm-chek input[type="checkbox"], .afhentning-chek input[type="checkbox"] {
    width: 20px; /* Gør afkrydsningsfeltet større */
    height: 20px; /* Gør afkrydsningsfeltet større */
    accent-color: #2c3583; /* Ændrer farven på afkrydsningsfeltet */
    position: relative; /* Placerer afkrydsningsfeltet relativt */
    margin-left: 10px; /* Tilføjer lidt afstand til venstre */
}